/* General specs */
@font-face {
  font-family: "FuturaLight";  
  src: url("./assets/futura/FuturaStdLight.ttf");  
  font-weight: normal; 
}

@font-face {
  font-family: "FuturaMedium";  
  src: url("./assets/futura/FuturaURWMedium.ttf");  
  font-weight: normal;  
}

.page {
  max-width: 1800px;
  margin: auto;
}

.container {
  position: relative;
  font-family:'FuturaMedium';
}

h2 {
  text-transform: uppercase;
  font-size: 58px !important;
  text-align: left;
  margin-bottom: 3%;
  margin-left: 4%;
  font-family: 'FuturaLight';
}

h2.marginTop {
  margin-top: 1em;
}

h3.marginTop {
  font-size: 1rem;
  margin-top: 1em;
}


/* top of the page */

#logoText{
  width:40%;   
  margin-top: 8%;
  margin-left: 30%;

}
#logoGlobe{
  width:10%;
  margin-left: 45%;
  margin-top: 2%;
  margin-bottom: -5%;
}

nav{
  color: #047469;
  font-size: 18px;
  line-height: 28px;
  float:right;
  font-family: 'FuturaMedium';
}

.icon{
  width:4%;
  min-width: 50px;
  float:left;
  margin-left: 5%;
  padding-right: 0.5%;
}

a:link{
  color: #047469; 
}

/* discover section */

#background{
  background-image: -o-linear-gradient(138.55deg, #E2F9F8 32.26%, #C3E9E4 80.54%);
  background-image: -moz-linear-gradient(138.55deg, #E2F9F8 32.26%, #C3E9E4 80.54%);
  background-image: -webkit-linear-gradient(138.55deg, #E2F9F8 32.26%, #C3E9E4 80.54%);
  background-image: -ms-linear-gradient(138.55deg, #E2F9F8 32.26%, #C3E9E4 80.54%);
  background-image: linear-gradient(138.55deg, #E2F9F8 32.26%, #C3E9E4 80.54%);
  text-align: center;
  padding: 5% 0;
  font-family: 'FuturaMedium';
}

form{
  padding: 5%;
}

.fields {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5%;
}

.input{
  text-align: left;
  width: 85%;
}

@media all and (min-width: 770px){
  .fields{
    flex-direction: row;
  }
  .input{
    width: 42%;
  }
}


.resultField{
  background-color:rgb(235, 235, 235);
  border-radius: 40px;
  text-align: center;
  padding:5%;
  margin-bottom: 5%;
}


select{
  font-family: "FuturaMedium";
  color: #047469;    
  border: solid 7px #DDDDDD;  
    padding: 1% 3%;
    width: 100%;
    height: 50px;
    border-radius: 20px;
}

form section{
  display:inline;
}

label{
  font-size: 24px;
}

#arrowIcon{
  width: 60px;
}

.submitButton{
  display: block;
  margin: auto;
  padding: 1% 7%;
  background-color:#FE7C6B;
  color: #FFFFFF;
  border:none;
  border-radius: 25px;
  clear:both;
}

/* result section */
.hidden {
  display: none !important;
  visibility: hidden;
}


.row {
  display: flex;
  margin-bottom: -0.5em  !important;
}

.col {
  flex: 50%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: left;
}

.col.greyRight {
  color: rgb(175, 175, 175);
  flex: 50%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: right;
}

hr.white {
  border-top: 2px solid white;
  margin-left: 5%;
  margin-right: 5%;
}

.arrow {
  border: solid rgb(175, 175, 175);
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 5px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* safe locations section */
#safestLocations{
  background-color: #047469;
  padding-top: 5%;
  padding-bottom: 5%;
  color: #FFFFFF;
}

/* faqs section */
#faqs{
  background-color: #F5FFFF;
  padding-top: 5%;
  padding-bottom: 5%;
}


footer{
  font-family: 'FuturaMedium';
  font-size: 16px;
    text-align: center;    
    margin: 2% auto;    
    color:#047469;
}

footer a{
    text-decoration: none;
    color:#047469;

}


.bgIcon {
  position: absolute;
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: 100% center;
  width: 160px;
  height: 190px;
  right: -10px;
  top: 10px;
  z-index: 300;
}

#page404{
  font-style:italic;
  background-color:rgb(241 198 198);
}

#page404 h2{
  text-align: center;
}
#page404 button{
  background-color: #e48787;
}

.noData{
  font-style: italic;
  opacity: 0.5;
}

.bottomSection{
    background-image: -o-linear-gradient(180deg, #E2F9F8 19.27%, #C3E9E4 100%);
    background-image: -moz-linear-gradient(180deg, #E2F9F8 19.27%, #C3E9E4 100%);
    background-image: -webkit-linear-gradient(180deg, #E2F9F8 19.27%, #C3E9E4 100%);
    background-image: -ms-linear-gradient(180deg, #E2F9F8 19.27%, #C3E9E4 100%);
    background-image: linear-gradient(180deg, #E2F9F8 19.27%, #C3E9E4 100%);
    text-align: center;
    padding: 5% 0;
    font-family: 'FuturaMedium';
}

#getInvolved h3{
  color: #FE7C6B;
  font-size: 72px;
}

#getInvolved p{
  color: #047469;
  font-size:24px;
  line-height: 42px;
  padding:0 10%;
}