/* General specs */
@font-face {
  font-family: "FuturaLight";  
  src: url("./assets/futura/FuturaStdLight.ttf");  
  font-weight: normal; 
}

@font-face {
  font-family: "FuturaMedium";  
  src: url("./assets/futura/FuturaURWMedium.ttf");  
  font-weight: normal;  
}

.page {
  max-width: 1800px;
  margin: auto;
}

.container {
  position: relative;
  font-family:'FuturaMedium';
}

h2 {
  text-transform: uppercase;
  font-size: 58px !important;
  text-align: left;
  margin-bottom: 3%;
  margin-left: 4%;
  font-family: 'FuturaLight';
}

h2.marginTop {
  margin-top: 1em;
}

h3.marginTop {
  font-size: 24px;
  margin-top: 1em;
}


/* top of the page */

#logoText{
  width:40%;   
  margin-top: 8%;
  margin-left: 30%;

}
#logoGlobe{
  width:10%;
  margin-left: 45%;
  margin-top: 2%;
  margin-bottom: -5%;
}

nav{
  color: #047469;
  font-size: 18px;
  line-height: 28px;
  margin-left: 70%;
  font-family: 'FuturaMedium';
}

.icon{
  width:4%;
  min-width: 50px;
  float:left;
  margin-left: 5%;
  padding-right: 0.5%;
}

header a:link{
  color: #047469; 
  margin-left: 4%;
}
a:visited{
  color: #047469; 
}

nav a:hover{
  color: #FE7C6B;
}

nav a:active{
  color: #FE7C6B;
}
/* discover section */

#background{
  background-image: -o-linear-gradient(138.55deg, #E2F9F8 32.26%, #C3E9E4 80.54%);
  background-image: -moz-linear-gradient(138.55deg, #E2F9F8 32.26%, #C3E9E4 80.54%);
  background-image: -webkit-linear-gradient(138.55deg, #E2F9F8 32.26%, #C3E9E4 80.54%);
  background-image: -ms-linear-gradient(138.55deg, #E2F9F8 32.26%, #C3E9E4 80.54%);
  background-image: linear-gradient(138.55deg, #E2F9F8 32.26%, #C3E9E4 80.54%);
  text-align: center;
  padding: 5% 0;
  font-family: 'FuturaMedium';
}

form{
  padding: 5%;
}

.fields {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5%;
}

.input{
  text-align: left;
  width: 85%;
  margin: 6% 0;
}


@media all and (min-width: 770px){
  .fields{
    flex-direction: row;
  }
  .input{
    width: 42%;
    margin:0;
  }
}


.resultField{
  background-color:rgb(235, 235, 235);
  border-radius: 40px;
  text-align: center;
  padding:5%;
  margin-bottom: 5%;
}


select{
  font-family: "FuturaMedium";
  color: #047469;    
  border: solid 7px #DDDDDD;  
    padding: 1% 3%;
    width: 100%;
    height: 50px;
    border-radius: 20px;
}

form section{
  display:inline;
}

label{
  font-size: 24px;
}

#arrowIcon{
  width: 60px;
}

.submitButton{
  display: block;
  margin: auto;
  padding: 1% 7%;
  background-color:#FE7C6B;
  color: #FFFFFF;
  border:none;
  border-radius: 25px;
  clear:both;
}

/* result section */


.hidden {
  display: none !important;
  visibility: hidden;
}

.visible {
  visibility: visible;
}


.resultScreenTop{
  margin: 5%;
}

#resultDeparture, #resultDestination{
  font-size: 36px !important;
  line-height: 52px;
}

.destinationTable{
  display: flex;
  align-items: center;
}

.row {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 3%;
  /* margin-left: 7% !important; */
}

.col {
  text-align: left;
}

.greyRight {
  color: #AAA;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  text-align: right;
  font-size: 18px;
}

hr.white {
  border-top: 2px solid white;
  margin-left: 5%;
  margin-right: 5%;
}

#resultsCurrent{
  background-color:#FAFAFA;
  padding: 5% 0;
}
#resultsPlanned{
  background-image: -o-linear-gradient(277.22deg, rgba(195, 233,
  228, 0.5) 20.73%, rgba(226, 249, 248, 0.5) 75.98%);
  background-image: -moz-linear-gradient(277.22deg, rgba(195, 233,
  228, 0.5) 20.73%, rgba(226, 249, 248, 0.5) 75.98%);
  background-image: -webkit-linear-gradient(277.22deg, rgba(195, 233,
  228, 0.5) 20.73%, rgba(226, 249, 248, 0.5) 75.98%);
  background-image: -ms-linear-gradient(277.22deg, rgba(195, 233,
  228, 0.5) 20.73%, rgba(226, 249, 248, 0.5) 75.98%);
  background-image: linear-gradient(277.22deg, rgba(195, 233,
  228, 0.5) 20.73%, rgba(226, 249, 248, 0.5) 75.98%);
  padding: 5% 0;
  margin-bottom: 5%;
}

.countryFlag{
  width: 61px;
  float: left;
  margin-right: 2%;
}

#result{
  background-color: #FFFFFF;
  margin-bottom: 5%;
  margin-top:10%;
}

.resultTableIcon{
  max-height: 76px;
  margin-right: 5%;
  margin-left:1%;
  align-self:center;
}
.resultIconInfo{
  display: flex;
  align-items:flex-start;
  width: 100%;
  margin:2%;
  padding: 0 5%;
}

.tickIcon{
  width:39px;
}

.blackIcon{
filter: invert(100%);
}

#resultDestination, #resultDeparture{
  margin-bottom: 7%;
}

#plannedNumbersChart{
  justify-self:center;
}

#resultArrow {
  position: absolute;
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: 100% center;
  margin:auto;
  width:94px;
  left:46%;
  margin-top:-3%; 
  z-index: 300;
}


@media all and (max-width: 770px){
  .resultIconInfo{
    align-items: center;
  }
  .destinationTable{
    flex-direction:column;
    margin:auto;
    margin-bottom: 2%;
  }
  .resultsLeftCol{
    max-width:70%;
    margin-bottom: 3%;
  }

  .resultTableIcon{
    width:42px;
  }
  .tickIcon{
    width:30px;
    margin:2%;
  }
  #resultDestination{
    margin-top:15%;
  }
  #resultArrow{
    left:40%;
    margin-top:-8%;
  }
  .row{
    flex-direction: column;
    margin-bottom:0;
  }

}

/* about section */

#aboutContent{
  text-align: left;
  margin-top: 1%;
  margin-left: 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

#aboutTextLeft{
  margin-top: 4%;
  margin-right: 2%;
  font-family:'FuturaMedium';
  font-size: 20px;
  text-align: justify;
  text-justify: inter-word;
  width:100%;
}

#aboutTextRight{
  margin-top: 4%;
  margin-left: 2%;
  font-family:'FuturaMedium';
  font-size: 20px;
  text-align: justify;
  text-justify: inter-word;
  width:100%;
}

#aboutBack{
  margin-right: 0%;
  margin-top: 5%;
  align-items: right;
}

#aboutSeen{
  margin-left: 4%;
  margin-right: 0%;
  margin-top: 5%;
  align-items: right;
  color: #047469;  
  font-size: 20px;
}

#aboutImage{
  margin-left: 4%;
  align-items: center;
  max-width: 1110px;
}

#aboutNewspapers{
  margin-left: 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5%;
}

#aboutNewspaperIcons{
  max-width: 200px;
}

/* safe locations section */
#safestLocationsTable td{
  width: 25%;
  padding-top:1%;
}

@media all and (max-width: 770px){
  table, tr, td {
    display:block;
  }
  #safestLocationsTable td{
    width: 100%;
    padding-top:1%;
  }
  } 

#safestLocations{
  background-color: #047469;
  padding-top: 5%;
  padding-bottom: 5%;
  color: #FFFFFF;
}

.pin{
  width: 30px;
}

.safeList{
  margin: 2%;
  margin-left: 4%;
}
#safestLocations table{
  width: 95%;
}

#safestLocations small{
  font-size: 12px;
  color: #C3E9E4;

}

.footnote{
  display: flex;
  flex-direction: row-reverse;
  color: #C3E9E4;
}

#euFilter{
  margin-left: 4%;
  align-items: left;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 2%;
  margin-right: 2%;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:#FE7C6B;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #FE7C6B;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switchCountriesContainer {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 4%;
  margin-top: 1%;
  font-family:'FuturaMedium';
  font-size: 24px;
} 

/* faqs section */
#faqs{
  background-color: #F5FFFF;
  padding-top: 5%;
  padding-bottom: 5%;
}


.bgIcon {
  position: absolute;
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: 100% center;
  width: 160px;
  height: 190px;
  right: -10px;
  top: 10px;
  z-index: 300;
}

#page404{
  font-style:italic;
  background-color:rgb(241 198 198);
}

#page404 h2{
  text-align: center;
}
#page404 button{
  background-color: #e48787;
}

.noData{
  font-style: italic;
  opacity: 0.5;
}

.bottomSection{
    background-image: -o-linear-gradient(180deg, #E2F9F8 19.27%, #C3E9E4 100%);
    background-image: -moz-linear-gradient(180deg, #E2F9F8 19.27%, #C3E9E4 100%);
    background-image: -webkit-linear-gradient(180deg, #E2F9F8 19.27%, #C3E9E4 100%);
    background-image: -ms-linear-gradient(180deg, #E2F9F8 19.27%, #C3E9E4 100%);
    background-image: linear-gradient(180deg, #E2F9F8 19.27%, #C3E9E4 100%);
    text-align: center;
    padding: 5% 0;
    font-family: 'FuturaMedium';
}

#getInvolved h3{
  color: #FE7C6B;
  font-size: 72px;
}

#getInvolved p{
  color: #047469;
  font-size:24px;
  line-height: 42px;
  padding:0 10%;
  margin-bottom: 10%;
}

footer{
  font-family: 'FuturaMedium';
  font-size: 16px;
  margin: 2% 0;    
  color:#047469;
}

footer a:link{
  color:#047469;
}

#getInvolved a{
    text-decoration: none;
    color:#047469;
    padding:0;
    margin:0;
}

footer a:hover{
  color:  #FE7C6B
}

th, td {
  font-size: 25px;
}

td.flex {
  flex-grow: 1;
}

tr.flex {
  display: flex;
}

.FAQquestion{
  flex-direction: column;
  max-width: 25%;
  align-items: baseline;
  align-self:flex-start;
}

.serv div{
  display: flex;
  justify-content: space-evenly;
  font-size:20px;
  text-decoration: none;
  color: #047469;
  margin-top: 3%;
}

.FAQbutton{
  font-size:16px;
  text-decoration: none;
  color: #047469;
  border:none;
  opacity: 0.6;
  background-color: #F5FFFF;
}

/* .serv ul li {
  flex: 0 0 50%;
  padding-bottom: 10px;
} */